@using InventoryManSys.Models.ViewModels
@model OrderVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            #@Html.DisplayFor(model => model.Id)          
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasArrived)
        </dt>
            @if(Model.HasArrived == true)
            {
                <dd class = "col-sm-10" style="color:green">True</dd>
            }else
            {
                <dd class = "col-sm-10" style="color:red">
                    <form method="post" asp-action="ConfirmArrival">
                        False
                        <input asp-for="@Model.Id" hidden>
                        <input type="submit" class="btn btn-outline-success" style="float:right" value="Confirm Arrival">
                    </form>
                </dd>
            }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Products):
        </dt>
        <dd class = "col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Products[0].Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Products[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Products[0].TotalPrice)
                        </th>
                    </tr>
                </thead>
                <tbody>
@foreach (var item in Model.Products) {
                    <tr>
                        <td>
                            x @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.TotalPrice)
                        </td>
                    </tr>
}
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
