@using InventoryManSys.Models.ViewModels
@model IEnumerable<OrderVM>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                #@Html.DisplayFor(modelItem => item.Id)
            </td>
                @if(item.Type == OrderVM.OrderType.Buy)
                {
                    <td style="color:darkblue">
                      @Html.DisplayFor(modelItem => item.Type)
                    </td>
                }else
                {
                    <td style="color:darkorange;">
                      @Html.DisplayFor(modelItem => item.Type)
                    </td>
                }                                
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

                @if(item.HasArrived == true && item.Type == OrderVM.OrderType.Buy)
                {
                    <td style="color:green">Delivered</td>
                }else if(item.HasArrived == false && item.Type == OrderVM.OrderType.Buy)
                {
                    <td style="color:red">Not Delivered</td>
                }
                else
                {
                    <td></td>
                }

            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
