@using InventoryManSys.Models.ViewModels
@model ShoppingCartVM

@{
    ViewData["Title"] = "Shopping Cart";
}

<br />
<h1>Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(!Model.Products.Any())
            {
                <p style="color:red">Shopping Cart is Empty!</p>
            }
        @foreach (var item in Model.Products) {
            <tr>
            <td>
                #@Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <form method="post" asp-action="Delete">
                    <input type="hidden" name="Id" value="@item.Id"/>
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
<form method="post" asp-action="PlaceOrder">
    <input asp-for="@Model.Id" hidden />
    <input asp-for="@Model.Products" hidden/>
    <input asp-for="@Model.TotalPrice" hidden/>
    <input type="submit" value="Place Order >>" class="btn btn-primary" />
</form>
